{"filter":false,"title":"twitterminer.config","tooltip":"/dit029-twitter-miner/twitterminer.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1448369339417,"hash":"3bf29a4ddf2090c70bd7000bf53d24008044de1b"}