{"filter":false,"title":"twitterminer.config","tooltip":"/Back/Miner/dit029-twitter-miner/twitterminer.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":83},"end":{"row":6,"column":83},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1448377102000,"hash":"a27602e880a055aba0849713c6e5f87e0a0b660f"}