[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "zoPvAHlpjYZ5wimThJhxp6XDY"},
	    {api_secret, "9nkIF8dxsqAxjAXLHRpF99EJiCMIpjfC8NhVI8cyEU93o1ExU5"},
	    {access_token, "2970241815-xCdPAkcpYvEG5XgxvcVHEorIaabQeaaHI25riVv"},
	    {access_token_secret, "0ZQGw4DCHZpZgJFukDAOxoVMp04rTtNduHWzhhydnS7GP"}]}]}]}].
