{"filter":false,"title":"rebar.config","tooltip":"/Back/Miner/dit029-twitter-miner/rebar.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":42,"column":0},"end":{"row":44,"column":0},"action":"remove","lines":["","",""],"id":2,"ignore":true}]]},"ace":{"folds":[],"scrolltop":152,"scrollleft":0,"selection":{"start":{"row":11,"column":69},"end":{"row":11,"column":77},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/text"}},"timestamp":1449587067000,"hash":"cec130d482f907b4479cce18542f85fd57bc87e6"}