{"filter":false,"title":"twitterminer.1.config","tooltip":"/Back/Miner/dit029-twitter-miner/twitterminer.1.config","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"a27602e880a055aba0849713c6e5f87e0a0b660f","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1448377102000}