{"filter":false,"title":"twitterminer.config","tooltip":"/Back/Miner/dit029-twitter-miner/twitterminer.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":0},"end":{"row":7,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1450273640000,"hash":"784348ee6a3c4d68c8e8838b16bae2aaacf71d72"}